#topnav {
    border-radius: 0;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 0;
}


#main {
    background-color: #EEEEEE;
    height: 100vh;
    padding: 0;
}

@media (max-width: 500px) {
    .content-manger {
        margin: 0 5px;
    }
}

@media (min-width: 501px) {
    .content-manger {
        margin: 0 40px
    }
}

.tabclearbtn {
    padding: 0;
    position: absolute;
    right: 0;
    top: -3px;
}

.tabcontent {
    display: inline-block;
    height: 40px;
    padding-top: 10px;
    padding-right: 10px;
    margin: 1px 3px;
    position: relative
}

p img {
    display: block;
    margin: 0 auto;
}