<div class="container">
    <div class="row">
        <div id="one" class="visible-lg visible-md">
            <!--左边栏-->
        </div>
        <div id="two">
            <!--右边内容-->
            {% for foo in Model["ContentList"] %}
                <div class="row blog-Item-h" style="margin: 30px 20px;background-color: #fff;padding: 4px">
                    <!--Item page-->
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 blog-img-auto"
                         style="background-image: url('{{ foo["Img"] }}')">

                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-8">
                        <h2 class="blog-item-title text-center"
                            style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;margin-top: 15px;">
                            <a href="{{ foo["Url"] }}">
                                {{ foo["Title"] }}
                            </a>
                        </h2>
                        <p class="blog-item-content">
                            <a>
                                {{ foo["Content"] }}
                            </a>
                        </p>
                        <div class="blog-item-hw"></div>
                        <div class="row blog-item-foot" style="overflow: hidden;">
                            <div class="col-lg-2 col-sm-2 col-xs-3 col-md-2" style="padding: 0;"><i
                                    class="glyphicon glyphicon-user"></i> {{ foo["Author"] }}</div>
                            <div class="col-lg-4 col-sm-4 col-xs-9 col-md-4" style="padding: 0;"><i
                                    class="glyphicon glyphicon-time"></i>{{ foo["Data"] }}</div>
                            <div class="col-lg-3 col-md-3 col-sm-3 hidden-xs" style="padding: 0;"><i
                                    class="glyphicon glyphicon-comment"></i>{{ foo["CommentNum"] }}</div>

                        </div>
                    </div>

                </div>
            {% endfor %}


        </div>
    </div>


</div>