{% extends 'base.html' %}

{% block header %}
    <link rel="stylesheet" href="{{ url_for('static', filename='quill/quill.snow.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/katex.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/monokai-sublime.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/editor.css') }}">

    <script src="{{ url_for('static', filename='js/katex.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/highlight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>



{% endblock %}

{% block top %}
    {% include 'Oklogin/basetop.html' %}
{% endblock %}

{% block content %}
    {% include 'EditPost/editcontent.html' %}
{% endblock %}

