<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/bootstrapValidator.css">
    <link rel="stylesheet" href="../static/css/blog.css">
    <script src="../static/js/jquery-1.12.4.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/bootstrapValidator.js"></script>
    <script src="../static/js/blog.js"></script>


    <title>test</title>
</head>
<div id="main" class="container ">


{% block top %}{% endblock %}
{% block login_regnin %}{% endblock %}

{% block content %}{% endblock %}


</div>

</html>